@model PasswordChange
@{
    ViewData["Title"] = "Password";
}
<style>
  body 
{
   background-image: url('/images/color.jpg');
  background-repeat: no-repeat
}
   #back
        {
           float:left;
           color: black;
           margin-left: 0px;
           padding: 0%;
          font-size:36px;
        }
        form
        {
          width:35rem;
    margin-top:70px;
    margin-left: auto;
    margin-right: auto;
    color:whitesmoke;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color:rgb(53, 51, 51);
    border-radius: 12px;
    border:black;
    padding: 20px 25px;
        }
        form:hover
{
  background-color: rgba(76, 49, 40, 0.582);
}
        button {
  align-content: center;
  margin:7px 160px; 
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  width: 200px;
  padding: 10px 0;
  background-color:black;
  color: white;
  box-shadow: 0 0 20px rgba(14, 14, 15, 0.2);
  transition: 0.4s;
  }

button:hover {
  background-color: rgb(224, 94, 85);
  color:yellow;
  cursor: pointer;
}
input
{
    height: 40px;
    width: 250px;
    background-color: rgb(224, 94, 85) ;
    color: aliceblue;
    border-radius: 9px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 15px;
}
::placeholder
{
  color: black;
}
form p{
 text-align: center;
 font-size: 25px;
}
        </style>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <a href="/Home/Login"><i class="fa fa-arrow-circle-o-left" id="back" ></i></a>
        
   

@using (Html.BeginForm())
{
    <p><b>Change Your Password</b></p>
   
   @Html.TextBoxFor(m => m.EmployeeId, new { @Placeholder="Enter your Id" }) 
     @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
     <br>
     
    @Html.TextBoxFor(m => m.OldPassword, new {@Placeholder="Enter your old password",@Type="Password" }) 
     @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
     <br>

     @Html.TextBoxFor(m => m.NewPassword, new {@Placeholder="Enter your new password",@Type="Password" }) 
     @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
     <br>
     
     @Html.TextBoxFor(m => m.ConfirmPassword, new { @Placeholder="Re-enter the password",@Type="Password"}) 
     @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
     <br>
     <br>
    
      <button  type="submit" >Submit</button>

}
  </div>
</div>
      